.map-sec {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.text-map {
  width: 300px;
}

.map-sec h1 {
  text-align: center;
  margin: 300px 0 50px 0;
}

#map {
  margin: 0 0 80px 0;
  width: 100%;
  height: 550px;
}
